
#img {
        width: 40%;
        display: block;
        text-align: center;
        margin: auto;
}
body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #ece33e;
}
.title {
        text-align: center;
}
.none {
        display: none;
}
.midasi {
        margin: 5px;
}
.hint {
        display: inline-block;
        border-radius: 4px;
        font-size: 80%;
        margin: 5px;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        cursor: pointer;
}
.hint:hover {
        text-decoration:underline;
        color: rgb(227, 96, 96);
}
address {
        position: fixed;
        bottom: 0;
        width: 100%;
        font-style: normal;

}
footer {
        text-align: center;
}
.show {
        display: block;
}